{
    "bitcoin": {
        "24h_volume_usd": "13249600000.0", 
        "available_supply": "16773562.0", 
        "id": "bitcoin", 
        "last_updated": "1514723661", 
        "market_cap_usd": "225158232151", 
        "max_supply": "21000000.0", 
        "name": "Bitcoin", 
        "percent_change_1h": "1.04", 
        "percent_change_24h": "1.36", 
        "percent_change_7d": "-1.33", 
        "price_btc": "1.0", 
        "price_usd": "13423.4", 
        "rank": "1", 
        "symbol": "BTC", 
        "total_supply": "16773562.0"
    }, 
    "bitcoin-cash": {
        "24h_volume_usd": "1322840000.0", 
        "available_supply": "16885888.0", 
        "id": "bitcoin-cash", 
        "last_updated": "1514723654", 
        "market_cap_usd": "41823472737.0", 
        "max_supply": "21000000.0", 
        "name": "Bitcoin Cash", 
        "percent_change_1h": "0.39", 
        "percent_change_24h": "-1.73", 
        "percent_change_7d": "-12.27", 
        "price_btc": "0.185869", 
        "price_usd": "2476.83", 
        "rank": "4", 
        "symbol": "BCH", 
        "total_supply": "16885888.0"
    }, 
    "cardano": {
        "24h_volume_usd": "426084000.0", 
        "available_supply": "25927070538.0", 
        "id": "cardano", 
        "last_updated": "1514723655", 
        "market_cap_usd": "18483978982.0", 
        "max_supply": "45000000000.0", 
        "name": "Cardano", 
        "percent_change_1h": "2.24", 
        "percent_change_24h": "13.81", 
        "percent_change_7d": "89.56", 
        "price_btc": "0.00005350", 
        "price_usd": "0.712922", 
        "rank": "5", 
        "symbol": "ADA", 
        "total_supply": "31112483745.0"
    }, 
    "dash": {
        "24h_volume_usd": "165253000.0", 
        "available_supply": "7786004.0", 
        "id": "dash", 
        "last_updated": "1514723642", 
        "market_cap_usd": "7942191166.0", 
        "max_supply": "18900000.0", 
        "name": "Dash", 
        "percent_change_1h": "0.48", 
        "percent_change_24h": "-0.9", 
        "percent_change_7d": "-12.53", 
        "price_btc": "0.0765484", 
        "price_usd": "1020.06", 
        "rank": "9", 
        "symbol": "DASH", 
        "total_supply": "7786004.0"
    }, 
    "ethereum": {
        "24h_volume_usd": "2825070000.0", 
        "available_supply": "96681823.0", 
        "id": "ethereum", 
        "last_updated": "1514723650", 
        "market_cap_usd": "71011832152.0", 
        "max_supply": null, 
        "name": "Ethereum", 
        "percent_change_1h": "0.61", 
        "percent_change_24h": "3.1", 
        "percent_change_7d": "10.06", 
        "price_btc": "0.0551184", 
        "price_usd": "734.49", 
        "rank": "3", 
        "symbol": "ETH", 
        "total_supply": "96681823.0"
    }, 
    "iota": {
        "24h_volume_usd": "236346000.0", 
        "available_supply": "2779530283.0", 
        "id": "iota", 
        "last_updated": "1514723651", 
        "market_cap_usd": "9618842497.0", 
        "max_supply": "2779530283.0", 
        "name": "IOTA", 
        "percent_change_1h": "0.69", 
        "percent_change_24h": "5.53", 
        "percent_change_7d": "2.44", 
        "price_btc": "0.00025969", 
        "price_usd": "3.4606", 
        "rank": "7", 
        "symbol": "MIOTA", 
        "total_supply": "2779530283.0"
    }, 
    "litecoin": {
        "24h_volume_usd": "845200000.0", 
        "available_supply": "54552758.0", 
        "id": "litecoin", 
        "last_updated": "1514723641", 
        "market_cap_usd": "12101111025.0", 
        "max_supply": "84000000.0", 
        "name": "Litecoin", 
        "percent_change_1h": "1.51", 
        "percent_change_24h": "-1.15", 
        "percent_change_7d": "-17.59", 
        "price_btc": "0.0166463", 
        "price_usd": "221.824", 
        "rank": "6", 
        "symbol": "LTC", 
        "total_supply": "54552758.0"
    }, 
    "nem": {
        "24h_volume_usd": "51560000.0", 
        "available_supply": "8999999999.0", 
        "id": "nem", 
        "last_updated": "1514723644", 
        "market_cap_usd": "8729360999.0", 
        "max_supply": null, 
        "name": "NEM", 
        "percent_change_1h": "0.2", 
        "percent_change_24h": "0.78", 
        "percent_change_7d": "7.55", 
        "price_btc": "0.00007279", 
        "price_usd": "0.969929", 
        "rank": "8", 
        "symbol": "XEM", 
        "total_supply": "8999999999.0"
    }, 
    "ripple": {
        "24h_volume_usd": "6337660000.0", 
        "available_supply": "38739144847.0", 
        "id": "ripple", 
        "last_updated": "1514723641", 
        "market_cap_usd": "91916756370.0", 
        "max_supply": "100000000000", 
        "name": "Ripple", 
        "percent_change_1h": "5.45", 
        "percent_change_24h": "1.6", 
        "percent_change_7d": "132.02", 
        "price_btc": "0.00017805", 
        "price_usd": "2.37271", 
        "rank": "2", 
        "symbol": "XRP", 
        "total_supply": "99993093880.0"
    }, 
    "stellar": {
        "24h_volume_usd": "281547000.0", 
        "available_supply": "17858964417.0", 
        "id": "stellar", 
        "last_updated": "1514723643", 
        "market_cap_usd": "6055921257.0", 
        "max_supply": null, 
        "name": "Stellar", 
        "percent_change_1h": "4.51", 
        "percent_change_24h": "3.68", 
        "percent_change_7d": "57.86", 
        "price_btc": "0.00002545", 
        "price_usd": "0.339097", 
        "rank": "10", 
        "symbol": "XLM", 
        "total_supply": "103550799663"
    }
}